{% extends "Layout.html" %}

{% block content %}

<h1>
    Dashboard
</h1>
<hr>
<a href="{% url 'Home' %}">Home</a>
<a href="{% url 'Dashboard' %}">Dashboards</a><br>
<a href="{% url 'Dashboard_agent' %}">Dashboard_agent</a>
<a href="{% url 'Learning' %}">Learning</a>

<div class="container">
    <div>
        <canvas id="myChartBar"></canvas>
      </div>
      <div>
        <canvas id="myChartPie"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChartBar');
        const ctx_two = document.getElementById('myChartPie');

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: {{TheSalesAgent|safe}},
            datasets: [{
              label: '# of Votes',
              data: {{ThePriceListData|safe}},
              borderWidth: 1,
              borderColor: ['green', 'red'],
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        new Chart(ctx_two, {
          type: 'bar',
          data: {
            labels: {{TheSalesAgent|safe}},
            datasets: [{
              label: '# of Votes',
              data: {{ThePriceListData|safe}},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>  
</div>
{% endblock content %}