{% extends "Layout.html" %}

{% block content %}
<div class="container">
<h1>
    Home Page
</h1>
<a href="{% url 'Home' %}">Home</a>
<a href="{% url 'Dashboard' %}">Dashboards</a><br>
<a href="{% url 'Dashboard_agent' %}">Dashboard_agent</a>
<a href="{% url 'Learning' %}">Learning</a>

<br>
<table class="table table-striped">
    {{AegntCount}}
    {% for DataView in TheDataView %}
    <tr>
        <td>{{DataView.JE_Code}}</td>
        <td>{{DataView.Salesperson}}</td>
        <td>{{DataView.Store}}</td>
        <td>{{DataView.Country}}</td>
        <td>{{DataView.Region}}</td>
        <td>{{DataView.Item}}</td>
        <td>{{DataView.List_Price}}</td>
        <td>{{DataView.Actual_Price}}</td>
    </tr>
    {% endfor %}

  </table>
</div>
{% endblock content %}