{% extends "Layout.html" %}

{% block content %}
<div class="container">
<h1>
    Update
</h1>
<a href="{% url 'Dashboard' %}">Dashboards</a>
<br>
<table class="table table-striped">
    {% for DataView in TheDataView %}
    <tr>
        <td>{{DataView.JE_Code}}</td>
        <td>{{DataView.Salesperson}}</td>
        <td>{{DataView.Store}}</td>
        <td>{{DataView.Country}}</td>
        <td>{{DataView.Region}}</td>
        <td>{{DataView.Item}}</td>
        <td>{{DataView.List_Price}}</td>
        <td>{{DataView.Actual_Price}}</td>
    </tr>
    
    {% endfor %}
  </table>
</div>
{% endblock content %}