{% extends "Layout.html" %}

{% block content %}

<h1>Data Information </h1>
 <div class="container">
    
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{TheDataInformation.Policy_Number}}<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{TheDataInformation.Case_Number}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.Case_Number}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.AVS_Check}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.Caller_ID}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.Call_duration}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.Premium}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.Debit_date}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.Cover_amount}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.QA_Correct}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.KPA}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.HIV_Required}}<br>
          </li>
          <li class="list-group-item">
            {{TheDataInformation.Comment}}<br>
          </li>
        </ul>
      </div>

 </div>
{% endblock %}