{% extends "Layout.html" %}

{% block content %}

 <div class="container">
    <h1>Main Page </h1>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="container text-center">
          
            <div class="row">
                <div class="col">
                    <input class="form-control form-control-sm" aria-label=".form-control-sm example" type="text" name="Policy_Number" placeholder="Policy Number"><br>
                </div>
                <div class="col">
                    <input class="form-control form-control-sm" aria-label=".form-control-sm example" type="text"  name="Case_Number" placeholder="Case_Number"><br>
                </div>
                <div class="col">
                    <input class="form-control form-control-sm" aria-label=".form-control-sm example" type="text"  name="Caller_ID" placeholder="Caller_ID"><br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control form-control-sm" aria-label=".form-control-sm example" type="text"  name="Call_duration" placeholder="Call_duration"><br>
                </div>
                <div class="col">
                    <input class="form-control form-control-sm" aria-label=".form-control-sm example" input type="text" name="Premium" placeholder="Premium"><br>
                </div>
                <div class="col">
                    <input class="form-control form-control-sm" aria-label=".form-control-sm example" input type="text" name="Cover_amount" placeholder="Cover_amount"><br>
                </div>  
            </div>
                <div class="row">
                    <div class="col">
                        <select class="form-select form-select-sm" aria-label="Small select example" name="Start_date">
                            <option value="-"> Select the Start Date </option>
                            <option value="1st January">1st January</option>
                            <option value="1st February">1st February</option>
                            <option value="1st March">1st March</option>
                            <option value="1st April">1st April</option>
                            <option value="1st May">1st May</option>
                            <option value="1st June">1st June</option>
                            <option value="1st July">1st July</option>
                            <option value="1st August">1st August</option>
                            <option value="1st September">1st September</option>
                            <option value="1st October">1st October</option>
                            <option value="1st November">1st November</option>
                            <option value="1st December">1st December</option>
                        </select>                    
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" aria-label=".form-control-sm example" input type="date" name="Debit_date"placeholder="Debit_date">
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col">
                            <select class="form-select form-select-sm" aria-label="Small select example" name="KPA_1">
                                <option value="-"> The KPA Outcome 1</option>
                                <option value="Pass">Pass</option>
                                <option value="Product">Product</option>
                                <option value="Compliance">Compliance</option>
                                <option value="Data Capturing">Data Capturing</option>
                                <option value="TCF">TCF</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select form-select-sm" aria-label="Small select example" name="KPA_2">
                                <option value="-"> The KPA Outcome 2</option>
                                <option value="Pass">Pass</option>
                                <option value="Product">Product</option>
                                <option value="Compliance">Compliance</option>
                                <option value="Data Capturing">Data Capturing</option>
                                <option value="TCF">TCF</option>
                            </select>
                        </div>
                    <div class="col">
                        <select class="form-select form-select-sm" aria-label="Small select example" name="KPA_3">
                            <option value="-"> The KPA Outcome 3</option>
                            <option value="Pass">Pass</option>
                            <option value="Product">Product</option>
                            <option value="Compliance">Compliance</option>
                            <option value="Data Capturing">Data Capturing</option>
                            <option value="TCF">TCF</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <select class="form-select form-select-sm" aria-label="Small select example" name="AVS_Check">
                            <option value="-"> Enter the AVS Outcome</option>
                            <option value="PASS">PASS</option>
                            <option value="FAIL">FAIL</option>
                            <option value="UNVERIFIED">UNVERIFIED</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select form-select-sm" aria-label="Small select example" name="HIV_Required">
                            <option value="-"> HIV Test Required? </option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select form-select-sm" aria-label="Small select example" name="QA_Correct">
                            <option value="-"> QA Correction ? </option>
                            <option value="FALSE">FALSE</option>
                            <option value="TRUE">TRUE</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="col">
                    <input class="form-control form-control-sm" aria-label=".form-control-sm example" input type="textField" name="Comment" placeholder="Comment"><br>

                </div>
        <br>
        <button class="btn btn-primary" type="Submit"> Submitting </button>
    </form>

 </div>
{% endblock %}