{% extends "Layout.html" %}

{% block content %}

<div class="container">

<h1>Summary </h1>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Data Capturing
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{QAOutcomesDC}}</li>
            </ul>
          </div>
<br>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        Compliance
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{QAOutcomesCompliance}}</li>
    </ul>
  </div>
  <br>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
        Product
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{QAOutcomesProduct}}</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
        Pass
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{QAOutcomesPass}}</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
        TCF
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{QAOutcomesTCF}} </li>
    </ul>
  </div>
    </div>
{% endblock %}
